@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    #SideNavMain {
        display: none;
    }

    .scroll-snap-container {
        margin-top: 0 !important;
          height: 800px;
    width: 450px;
    }
}