@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
    }
i{
    display: inline-block;
    height: 1rem;
    width: 1rem;
}

@media screen and (max-width: 500px) {
    #SideNavMain {
        display: none;
    }

    #TopNav {
        position: absolute;
        bottom: 0;
    }

    .scrolltags {
        margin-left: 0;
        margin-right: 0;

    }

    .scroll-snap-container {
        margin-top: 0 !important;
        height: 800px;
        width: 450px;
    }

    .postCommentTextArea {
        max-width: 403px !important;
    }
    .item {
        width: 450px;
    }
}